################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/Components/LiveSplit.JumpKing.exe
/bin
/.vs
/LiveSplit.JumpKing.csproj.user
